@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    font-family: "Outfit", sans-serif;
    color: var(--primary-soft);
    background-color: var(--main-bg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nft-card {
    max-width: 350px;
    background-color: var(--card-bg);
    border-radius: 15px;
    padding: 24px;
}

.nft-card .image-link {
    display: flex;
    position: relative;
}

.nft-card .image-link::before{
    content: '';
    background-color: var(--primary-medium);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.nft-card .image-link::after{
    content: '';
    background: url(../images/icon-view.svg) no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.nft-card .image-link:hover::before{
    opacity: 0.4;
}

.nft-card .image-link:hover::after{
    opacity: 1;
}

.nft-card .image-link .image{
    width: 100%;
    border-radius: 10px;
}

.nft-card .title-link .title{
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
}

.nft-card .title-link .title:hover{
    color: var(--primary-medium);
}

.nft-card .about{
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 16px;
}

.nft-card .info{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.nft-card .info .price{
    color: var(--primary-medium);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nft-card .info .price::before{
    content: '';
    background-image: url(../images/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 16px;
    height: 16px;
}


.nft-card .info .days-left{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nft-card .info .days-left::before{
    content: '';
    background-image: url(../images/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 18px;
    height: 18px;
}

.nft-card .creator{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
    border-top: solid 1px var(--line);
    padding-top: 16px;
}

.nft-card .creator .avatar{
    max-width: 35px;
    border: 1px solid white;
    border-radius: 50%;
}

.nft-card .creator .text .name{
    color: white;
    transition: 0.3s ease-in-out;
}

.nft-card .creator .text .name:hover{
    color: var(--primary-medium);
}