@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    color: #FFFFFF;
    font-family: "Public Sans", sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.gallery{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image .caption{
    margin-left: 20px;
    transform: translateY(-105px);
}

.image .caption h2{
    font-size: 30px;
    font-weight: 700;
}

@media(max-width: 475px) {
    .gallery{
        flex-direction: column;
    }
}