@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
    background-color: #000;
    color: #FFF;
    font-family: 'Oxanium', cursive;
}

.informacoes-personagem{
    display: flex;
    flex-direction: column;
    width: Fixed (483px)px;
    height: Fixed (32px)px;
    padding: 0px 81px 0px 81px;
    gap: 10px;
    border: 0px 0px 2px 0px;
    opacity: 0px;
    
}

.nome-personagem {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #47F4FF;
}

.descricao-personagem {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}