@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
}

.container{
    background-color: #F7F7F7;
    max-width: 900px;
    display: grid;
    grid-template-areas: "destaque anuncio" "destaque sugeridos";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    gap: 17px;
    padding: 35px;
}

.player, .anuncio, .video-recomendado-thumb{
    background-color: #C4C4C4;
}

.destaque{
    grid-area: destaque;
}

.player{
    width: 543px;
    height: 217px;
    margin-bottom: 12px;
}

.video-titulo{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
}

.video-views{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 9px;
}

.video-descricao{
    font-size: 16px;
    font-weight: 300;
}

.anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 56px;
    grid-area: anuncio;
    margin-bottom: 20px;
}

.recomendados{
    grid-area: recomendados;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.video-recomendado{
    display: flex;
    gap: 4px;
}

.video-recomendado-thumb{
    width: 101px;
    height: 71px;
}

.video-recomendado-titulo{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
}

.video-recomendado-nome-canal, .video-recomendado-views{
    margin-bottom: 5px;
}