:root{
    --bg-color: hsl(257, 40%, 49%);
    --hover-color: hsl(300, 69%, 71%);
}

body{
    background-color: var(--bg-color);
    background-image: url(../images/bg-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;

    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 55px 300px;
    max-width: 1290px;
}

header .logo{
    display: inline-block;
    max-width: 212px;
}

main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    gap: 55px;
}

main .info .title{
    margin-top: 49px;
    font-size: 40px;
}

main .info .text{
    margin-top: 27px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.1px;
}

main .info .button{
    display: inline-block;
    margin-top: 27px;
    font-size: 18px;
    background-color: white;
    padding: 17px 65px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--bg-color);
    font-weight: 450;
}

main .info .button:hover{
    color: white;
    background-color: var(--hover-color);
}

footer{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    gap: 18px;
    margin-top: 16px;
}

footer a{
    color: white;
    padding: 10px;
    border: 1px solid;
    border-radius: 50%;
}